.popup {
  position: fixed;
  top: 10%;
  left: 45%;
  width: 10%;
  height: 30px;
  border: 2px solid #000000;
  border-radius: 3px;
  text-align: center;
  display: none;
  z-index: 99;
  background: #fff;
  line-height: 30px;
  box-shadow: 3px 3px 3px #932396;
}