<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlmiao.dao.ClassMainMapper">
  <resultMap id="BaseResultMap" type="com.wlmiao.bo.ClassMain">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="class_no" jdbcType="VARCHAR" property="classNo" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="student_count" jdbcType="INTEGER" property="studentCount" />
    <result column="head_teacher_no" jdbcType="VARCHAR" property="headTeacherNo" />
    <result column="head_teacher_name" jdbcType="VARCHAR" property="headTeacherName" />
    <result column="major_no" jdbcType="VARCHAR" property="majorNo" />
    <result column="major" jdbcType="VARCHAR" property="major" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, class_no, grade, class_name, student_count, head_teacher_no, head_teacher_name,
    major_no, major
  </sql>
  <select id="selectByExample" parameterType="com.wlmiao.bo.ClassMainExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from class_main
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from class_main
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from class_main
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.wlmiao.bo.ClassMainExample">
    delete from class_main
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wlmiao.bo.ClassMain">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into class_main (class_no, grade, class_name,
    student_count, head_teacher_no, head_teacher_name,
    major_no, major)
    values (#{classNo,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR},
    #{studentCount,jdbcType=INTEGER}, #{headTeacherNo,jdbcType=VARCHAR}, #{headTeacherName,jdbcType=VARCHAR},
    #{majorNo,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wlmiao.bo.ClassMain">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into class_main
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classNo != null">
        class_no,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="className != null">
        class_name,
      </if>
      <if test="studentCount != null">
        student_count,
      </if>
      <if test="headTeacherNo != null">
        head_teacher_no,
      </if>
      <if test="headTeacherName != null">
        head_teacher_name,
      </if>
      <if test="majorNo != null">
        major_no,
      </if>
      <if test="major != null">
        major,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classNo != null">
        #{classNo,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="studentCount != null">
        #{studentCount,jdbcType=INTEGER},
      </if>
      <if test="headTeacherNo != null">
        #{headTeacherNo,jdbcType=VARCHAR},
      </if>
      <if test="headTeacherName != null">
        #{headTeacherName,jdbcType=VARCHAR},
      </if>
      <if test="majorNo != null">
        #{majorNo,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        #{major,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wlmiao.bo.ClassMainExample" resultType="java.lang.Long">
    select count(*) from class_main
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update class_main
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.classNo != null">
        class_no = #{record.classNo,jdbcType=VARCHAR},
      </if>
      <if test="record.grade != null">
        grade = #{record.grade,jdbcType=VARCHAR},
      </if>
      <if test="record.className != null">
        class_name = #{record.className,jdbcType=VARCHAR},
      </if>
      <if test="record.studentCount != null">
        student_count = #{record.studentCount,jdbcType=INTEGER},
      </if>
      <if test="record.headTeacherNo != null">
        head_teacher_no = #{record.headTeacherNo,jdbcType=VARCHAR},
      </if>
      <if test="record.headTeacherName != null">
        head_teacher_name = #{record.headTeacherName,jdbcType=VARCHAR},
      </if>
      <if test="record.majorNo != null">
        major_no = #{record.majorNo,jdbcType=VARCHAR},
      </if>
      <if test="record.major != null">
        major = #{record.major,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update class_main
    set id = #{record.id,jdbcType=BIGINT},
    class_no = #{record.classNo,jdbcType=VARCHAR},
    grade = #{record.grade,jdbcType=VARCHAR},
    class_name = #{record.className,jdbcType=VARCHAR},
    student_count = #{record.studentCount,jdbcType=INTEGER},
    head_teacher_no = #{record.headTeacherNo,jdbcType=VARCHAR},
    head_teacher_name = #{record.headTeacherName,jdbcType=VARCHAR},
    major_no = #{record.majorNo,jdbcType=VARCHAR},
    major = #{record.major,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wlmiao.bo.ClassMain">
    update class_main
    <set>
      <if test="classNo != null">
        class_no = #{classNo,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="studentCount != null">
        student_count = #{studentCount,jdbcType=INTEGER},
      </if>
      <if test="headTeacherNo != null">
        head_teacher_no = #{headTeacherNo,jdbcType=VARCHAR},
      </if>
      <if test="headTeacherName != null">
        head_teacher_name = #{headTeacherName,jdbcType=VARCHAR},
      </if>
      <if test="majorNo != null">
        major_no = #{majorNo,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        major = #{major,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wlmiao.bo.ClassMain">
    update class_main
    set class_no = #{classNo,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      class_name = #{className,jdbcType=VARCHAR},
      student_count = #{studentCount,jdbcType=INTEGER},
      head_teacher_no = #{headTeacherNo,jdbcType=VARCHAR},
      head_teacher_name = #{headTeacherName,jdbcType=VARCHAR},
      major_no = #{majorNo,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.wlmiao.bo.ClassMainExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from class_main
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>